body.f1 {
font-family : Arial, Helvetica, sans-serif;
}
body.f2 {
font-family : "Times New Roman", Times, serif;
}
body.f3 {
font-family : Courier New, Lucida Console, Monospace;
}
#GH{
background-image : url("../Picture/Sky2.jpg");
}
h1.centerh1 {
text-align : center;
display : block;
margin : auto;
}
body.center {
font-size : 20px;
font-style : normal;
font-variant : normal;
font-weight : normal;
margin : auto;
width : 50%;
padding : 20px;
color : white;
border : black solid 2px;
}
.image {
display : block;
margin : auto;
width : 75%;
}
nav#h0 ul {
visibility : hidden;
}
nav#h0 ul li {
float : right;
margin : 0 15px;
}
nav#h0 ul li a {
display : block;
background-color : orange;
color : #fff;
font-weight : bold;
text-decoration : none;
text-align : center;
width : 100px;
padding : 10px 0 8px 0;
border-radius : 4px;
}
nav#h0 ul li a:hover {
background-color : #800;
}
nav#h1 {
background-color : #cc8500;
overflow : hidden;
}
nav#h1 ul {
list-style-type : none;
margin : 0;
padding : 0;
overflow : hidden;
width : auto;
margin : auto;
}
nav#h1 ul li {
float : left;
}
nav#h1 ul li a:hover {
background-color : #ccc;
color : #000;
}




