
nav#h0 ul {
			  position: fixed;
				bottom: 0;
				list-style-type: none;
				padding: 20px;
				width: 75%;
				overflow: hidden;
}
nav#h0 ul li {
			  float: right;
				margin: 0 15px;

}

nav#h0 ul li a {
	      display: block;
				background-color: orange;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
				text-align: center;
				width: 100px;
				padding: 10px 0px 8px 0px;
				border-radius: 4px;

}

nav#h0 ul li a:hover {
				background-color: #800;

}


nav#h1{
				 background-color: #cc8500;
				
				 
}

nav#h1 ul {
				 list-style-type: none;
				 margin: 0;
				 padding: 0;
				 overflow: hidden;
				 width: 750px;
				 margin: 0 auto;
}

nav#h1 ul li {float: left;

				
}

nav#h1 ul li a {
				 display: block;
				 text-align: center;
				 width: 150px;
				 padding: 20px;
				 font-size; 20px;
				 color: #fff;
				 text-decoration: none;
				 font=weight: bold;
				 text-transform: uppercase;
				 font-family: Arial, sans-serif;
				 
				
}

nav#h1 ul li a:hover {
				 background-color: #ccc;
				 color: #000;

}




				 
					

				 




